

<form action="">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" name="" id=""   placeholder="Name">
  </div>
  <div class="form-group">
    <label for="">Description</label>
    <textarea class="form-control" name="" id="" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="">Price</label>
    <input type="number" class="form-control" name="" id="" min="0"  placeholder="Price">
  </div>
  <div class="form-group">
    <label for="">Image link</label>
    <input type="text" class="form-control" name="" id=""   placeholder="Image link">
  </div>
  <div class="form-group">
    <label for="">Status</label>
    <input type="number" class="form-control" name="" id=""   placeholder="Status">
  </div>
</form>
