<header class="section-header">
  <section class="header-main border-bottom">
      <div class="container-fluid">
          <div class="row align-items-center">
              <div class="col-lg-3 col-sm-4 col-md-4 col-5"> <a href="#" class="brand-wrap" data-abc="true">
                      <!-- <img class="logo" src="http://ampexamples.com/data/upload/2017/08/bootstrap2_logo.png"> --> <span class="logo">BBBOOTSTRAP</span> </a> </div>
              <div class="col-lg-4 col-xl-5 col-sm-8 col-md-4 d-none d-md-block">
                  <form action="#" class="search-wrap">
                      <div class="input-group w-100"> <input type="text" class="form-control search-form" style="width:55%;" placeholder="Search">
                          <div class="input-group-append"> <button class="btn btn-primary search-button" type="submit"> <i class="fa fa-search"></i> </button> </div>
                      </div>
                  </form>
              </div>
              <div class="col-lg-5 col-xl-4 col-sm-8 col-md-4 col-7">
                  <div class="d-flex justify-content-end"> <a target="_blank" href="#" data-abc="true" class="nav-link widget-header"> <i class="fas fa fa-whatsapp"></i></a> <span class="vl"></span>
                      <div class="dropdown btn-group"> <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-abc="true"><i class="fas fa fa-bell"></i></a>
                          <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                              <li>
                                  <div class="notification-title">More Info</div>
                                  <div class="notification-list">
                                      <div class="list-group"> <a href="affiliates" class="list-group-item list-group-item-action active" data-abc="true">
                                              <div class="notification-info">
                                                  <div class="notification-list-user-img"><img src="https://img.icons8.com/nolan/100/000000/helping-hand.png" alt="" class="user-avatar-md rounded-circle"></div>
                                                  <div class="notification-list-user-block"><span class="notification-list-user-name">Affiliate program</span> </div>
                                              </div>
                                          </a> <a href="redemption-center" class="list-group-item list-group-item-action active" data-abc="true">
                                              <div class="notification-info">
                                                  <div class="notification-list-user-img"><img src="https://img.icons8.com/bubbles/100/000000/prize.png" alt="" class="user-avatar-md rounded-circle"></div>
                                                  <div class="notification-list-user-block"><span class="notification-list-user-name">Redemption Center</span> </div>
                                              </div>
                                          </a> <a href="#" class="list-group-item list-group-item-action active" data-abc="true">
                                              <div class="notification-info">
                                                  <div class="notification-list-user-img"><img src="https://img.icons8.com/ultraviolet/100/000000/medal.png" alt="" class="user-avatar-md rounded-circle"></div>
                                                  <div class="notification-list-user-block"><span class="notification-list-user-name">Achievements</span> </div>
                                              </div>
                                          </a> <a href="#" class="list-group-item list-group-item-action active" data-abc="true">
                                              <div class="notification-info">
                                                  <div class="notification-list-user-img"><img src="https://img.icons8.com/bubbles/100/000000/call-female.png" alt="" class="user-avatar-md rounded-circle"></div>
                                                  <div class="notification-list-user-block"><span class="notification-list-user-name">Contact us</span> </div>
                                              </div>
                                          </a> </div>
                                  </div>
                              </li>
                          </ul>
                      </div> <span class="vl"></span> <a class="nav-link nav-user-img" href="#" data-toggle="modal" data-target="#login-modal" data-abc="true"><span class="login">LOGIN</span></a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <nav class="navbar navbar-expand-md navbar-main border-bottom">
      <div class="container-fluid">
          <form class="d-md-none my-2">
              <div class="input-group"> <input type="search" name="search" class="form-control" placeholder="Search" required="">
                  <div class="input-group-append"> <button type="submit" class="btn btn-secondary"> <i class="fa fa-search"></i> </button> </div>
              </div>
          </form> <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#dropdown6" aria-expanded="false"> <span class="navbar-toggler-icon"></span> </button>
          <div class="navbar-collapse collapse"  >
 <!-- ảnh -->
          </div>
      </div>
  </nav>
</header>


<!-- Thân -->
<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom">  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor" aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarColor">
      <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="./sanpham">Sản phẩm</a> </li>
          <li class="nav-item"><a class="nav-link" href="#">Men's</a> </li>
          <li class="nav-item "><a class="nav-link" href="#">Home</a> </li>
          <li class="nav-item "><a class="nav-link" href="#">Sale</a> </li>
      </ul>
  </div>

</nav>
<div class="filter"> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="false" aria-controls="mobile-filter">Filters<span class="fa fa-filter pl-1"></span></button>
</div>
<div id="mobile-filter">
  <div>
      <h6 class="p-1 border-bottom">Home Furniture</h6>
      <ul>
          <li><a href="#">Living</a></li>
          <li><a href="#">Dining</a></li>
          <li><a href="#">Office</a></li>
          <li><a href="#">Bedroom</a></li>
          <li><a href="#">Kitchen</a></li>
      </ul>
  </div>
  <div>
      <h6 class="p-1 border-bottom">Filter By</h6>
      <p class="mb-2">Color</p>
      <ul class="list-group">
          <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1" id="red"></span>Red </a></li>
          <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1" id="teal"></span>Teal </a></li>
          <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1" id="blue"></span>Blue </a></li>
      </ul>
  </div>
  <div>
      <h6>Type</h6>
      <form class="ml-md-2">
          <div class="form-inline border rounded p-sm-2 my-2"> <input type="radio" name="type" id="boring"> <label for="boring" class="pl-1 pt-sm-0 pt-1">Boring</label> </div>
          <div class="form-inline border rounded p-sm-2 my-2"> <input type="radio" name="type" id="ugly"> <label for="ugly" class="pl-1 pt-sm-0 pt-1">Ugly</label> </div>
          <div class="form-inline border rounded p-md-2 p-sm-1"> <input type="radio" name="type" id="notugly"> <label for="notugly" class="pl-1 pt-sm-0 pt-1">Not Ugly</label> </div>
      </form>
  </div>
</div>
<section id="sidebar">
  <div>
      <h6 class="p-1 border-bottom">Home Furniture</h6>
      <ul>
          <li><a href="#">Living</a></li>
          <li><a href="#">Dining</a></li>
          <li><a href="#">Office</a></li>
          <li><a href="#">Bedroom</a></li>
          <li><a href="#">Kitchen</a></li>
      </ul>
  </div>
  <div>
      <h6 class="p-1 border-bottom">Filter By</h6>
      <p class="mb-2">Color</p>
      <ul class="list-group">
          <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1" id="red"></span>Red </a></li>
          <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1" id="teal"></span>Teal </a></li>
          <li class="list-group-item list-group-item-action mb-2 rounded"><a href="#"> <span class="fa fa-circle pr-1" id="blue"></span>Blue </a></li>
      </ul>
  </div>
  <div>
      <h6>Type</h6>
      <form class="ml-md-2">
          <div class="form-inline border rounded p-sm-2 my-2"> <input type="radio" name="type" id="boring"> <label for="boring" class="pl-1 pt-sm-0 pt-1">Boring</label> </div>
          <div class="form-inline border rounded p-sm-2 my-2"> <input type="radio" name="type" id="ugly"> <label for="ugly" class="pl-1 pt-sm-0 pt-1">Ugly</label> </div>
          <div class="form-inline border rounded p-md-2 p-sm-1"> <input type="radio" name="type" id="notugly"> <label for="notugly" class="pl-1 pt-sm-0 pt-1">Not Ugly</label> </div>
      </form>
  </div>
</section>
<section id="products">
  <router-outlet></router-outlet>
</section>
<!-- Thân thay đổi  -->

